@for (alert of alerts; track alert.id; let i = $index) { @if (i <= 2) {
<div
  [class.static]="alert.options?.static"
  [style.top]="alert.options?.static ? '0px' : i * 60 + 'px'"
  class="d-flex align-items-center alert alert-{{ alert.type }} alert-dismissible mb-2 ms-3"
  role="alert">
  <div
    [class.d-block]="alert.options?.static"
    [class.d-flex]="!alert.options?.static"
    class="d-sm-flex alert-content-container">
    <p class="text-break">
      @if (alert.icon) {
      <i class="icon {{ alert.icon }}"></i>
      }
      {{ alert.message }}
      @if (alert.options?.button?.actionType) {
      <button (click)="buttonClicked(alert)" class="alert-button">
        {{ alert.options?.button?.text }}
      </button>
      } @if (alert.code) {
      <span class="ms-1">({{ alert.code }})</span>
      }
    </p>
    <div class="ms-auto text-end">
      <i
        (click)="closeAlert(alert)"
        (keydown)="closeAlert(alert)"
        aria-label="Close"
        class="alert-icon-close icon fa-solid fa-xmark"
        data-bs-dismiss="alert"></i>
    </div>
  </div>
</div>
} }
